# IntelliJ
.idea/
*.iml

# macOS
.DS_Store

# Maven
target/

# Logs
*.log

# Environment
.env

# VS Code
.vscode/

# Node (for the frontend later)
node_modules/

# Angular build
dist/

# Coverage
coverage/