<div class="board">

    <!-- TOP ROW -->
    <div class="top-row">

        <!-- START -->
        <div class="corner start">
            <div class="corner-icon">{{ topTiles[0].icon }}</div>
            <div class="corner-name">{{ topTiles[0].name }}</div>
        </div>

        <!-- TOP PROPERTIES -->
        <div
            class="tile"
            *ngFor="let tile of topTiles.slice(1, 10)"
            [class.property]="tile.type === 'PROPERTY'"
            [class.special]="tile.type === 'SPECIAL'">

            <ng-container *ngIf="tile.type === 'PROPERTY'; else topSpecial">

                <div
                    class="state-bar"
                    [style.background]="tile.stateColor">
                </div>

                <div
                    class="owner-bar"
                    *ngIf="tile.ownerColor"
                    [style.background]="tile.ownerColor">
                </div>

                <div class="tile-name">
                    {{ tile.name }}
                </div>

                <div class="tile-state">
                    {{ tile.state }}
                </div>

                <div class="tile-price">
                    ₹{{ tile.price }}
                </div>

            </ng-container>

            <ng-template #topSpecial>

                <div class="special-icon">
                    {{ tile.icon }}
                </div>

                <div class="special-name">
                    {{ tile.name }}
                </div>

            </ng-template>

        </div>

        <!-- JAIL -->
        <div class="corner jail">
            <div class="corner-icon">{{ topTiles[10].icon }}</div>
            <div class="corner-name">{{ topTiles[10].name }}</div>
        </div>

    </div>


    <!-- MIDDLE -->
    <div class="middle">

        <!-- LEFT COLUMN -->
        <div class="side-column">

            <div
                class="tile"
                *ngFor="let tile of leftTiles"
                [class.property]="tile.type === 'PROPERTY'"
                [class.special]="tile.type === 'SPECIAL'">

                <ng-container *ngIf="tile.type === 'PROPERTY'; else leftSpecial">

                    <div
                        class="state-bar vertical-bar"
                        [style.background]="tile.stateColor">
                    </div>

                    <div
                        class="owner-bar vertical-owner"
                        *ngIf="tile.ownerColor"
                        [style.background]="tile.ownerColor">
                    </div>

                    <div class="tile-name">
                        {{ tile.name }}
                    </div>

                    <div class="tile-state">
                        {{ tile.state }}
                    </div>

                    <div class="tile-price">
                        ₹{{ tile.price }}
                    </div>

                </ng-container>

                <ng-template #leftSpecial>

                    <div class="special-icon">
                        {{ tile.icon }}
                    </div>

                    <div class="special-name">
                        {{ tile.name }}
                    </div>

                </ng-template>

            </div>

        </div>


        <!-- CENTER -->
        <div class="center">

            <div class="center-logo">
                🇮🇳
            </div>

            <h1>
                Bharat Tycoon
            </h1>

            <div class="divider"></div>

            <p>
                India's Business Empire
            </p>

            <div class="current-turn">

                <span>
                    Current Turn
                </span>

                <h2>
                    Haricharan
                </h2>

            </div>

            <div class="dice-area">

                <div class="dice">
                    ⚄
                </div>

                <div class="dice">
                    ⚂
                </div>

            </div>

            <button class="roll-btn">
                🎲 Roll Dice
            </button>

        </div>


        <!-- RIGHT COLUMN -->
        <div class="side-column">

            <div
                class="tile"
                *ngFor="let tile of rightTiles"
                [class.property]="tile.type === 'PROPERTY'"
                [class.special]="tile.type === 'SPECIAL'">

                <ng-container *ngIf="tile.type === 'PROPERTY'; else rightSpecial">

                    <div
                        class="state-bar vertical-bar"
                        [style.background]="tile.stateColor">
                    </div>

                    <div
                        class="owner-bar vertical-owner"
                        *ngIf="tile.ownerColor"
                        [style.background]="tile.ownerColor">
                    </div>

                    <div class="tile-name">
                        {{ tile.name }}
                    </div>

                    <div class="tile-state">
                        {{ tile.state }}
                    </div>

                    <div class="tile-price">
                        ₹{{ tile.price }}
                    </div>

                </ng-container>

                <ng-template #rightSpecial>

                    <div class="special-icon">
                        {{ tile.icon }}
                    </div>

                    <div class="special-name">
                        {{ tile.name }}
                    </div>

                </ng-template>

            </div>

        </div>

    </div>


    <!-- BOTTOM ROW -->
    <div class="bottom-row">

        <!-- GO TO JAIL -->
        <div class="corner go-to-jail">

            <div class="corner-icon">
                {{ bottomTiles[0].icon }}
            </div>

            <div class="corner-name">
                {{ bottomTiles[0].name }}
            </div>

        </div>


        <!-- BOTTOM PROPERTIES -->
        <div
            class="tile"
            *ngFor="let tile of bottomTiles.slice(1, 9)"
            [class.property]="tile.type === 'PROPERTY'">

            <div
                class="state-bar"
                [style.background]="tile.stateColor">
            </div>

            <div
                class="owner-bar"
                *ngIf="tile.ownerColor"
                [style.background]="tile.ownerColor">
            </div>

            <div class="tile-name">
                {{ tile.name }}
            </div>

            <div class="tile-state">
                {{ tile.state }}
            </div>

            <div class="tile-price">
                ₹{{ tile.price }}
            </div>

        </div>


        <!-- BHUBANESWAR -->
        <div class="tile property">

            <div
                class="state-bar"
                [style.background]="bottomTiles[8].stateColor">
            </div>

            <div
                class="owner-bar"
                *ngIf="bottomTiles[8].ownerColor"
                [style.background]="bottomTiles[8].ownerColor">
            </div>

            <div class="tile-name">
                {{ bottomTiles[8].name }}
            </div>

            <div class="tile-state">
                {{ bottomTiles[8].state }}
            </div>

            <div class="tile-price">
                ₹{{ bottomTiles[8].price }}
            </div>

        </div>


        <!-- VACATION -->
        <div class="corner vacation">

            <div class="corner-icon">
                {{ bottomTiles[9].icon }}
            </div>

            <div class="corner-name">
                {{ bottomTiles[9].name }}
            </div>

        </div>

    </div>

</div>